# the final binary
calwm
# the final (OLD) binary
mywm
# Object files
*.o

# Dependency files
*.d
*.dep

# Common Make outputs
*.a
*.so
*.out
*.elf
a.out

# Libtool artifacts (if they ever appear)
*.lo
*.la
